h1 {
    color: deeppink;
}

* {
    border: #Da00ff;
}

.header{
    display: flex;
    justify-content: space-evenly;


}

.side_description{
    background-color:#4a5f6d;

}

.grid{
    background-color: #8a7b7b;
  
    
  
}

.socal{
    background-color: darkmagenta;
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: gold;
}

.dog{
    background-color: #3a4b5f;
}